$green: #00CC66;
$black: #4A4A4A;
$white: white;
$red: #F44336;

$main-colour      : $green;
$secondary-colour : $black;
$accent-colour    : $red;
$text-dark        : $black;
$text-light       : $white;

$success-colour   : #83CC61;
$error-colour     : #DE4242;

$bradius          : 2px;

$header-height    : 3rem;
$footer-height    : 12rem;

$side-padding: 2rem;

$s-animation: 0.250s ease-in-out;
